head {
    height: 300px;
    width: 500px;
}

div.profile {
    position: absolute;
    float: left;
}


div.info {
    border-radius: 25px 25px 25px 25px;
    height: 1000px;
    width: 400px;
    float: left;
    background-color: black; 
    opacity: 20%;
    z-index: 2;
    position: absolute;
    margin-left: 2%;
    top: 0;
    left: 0;
}


.img-circle {
    position: relative;
    background-position: center;
    border-radius: 50%;
    margin-top: 15%;
    margin-left: 15%;
    width: 300px;
    height: 300px;
    z-index: 5;
    border: 5px solid ghostwhite;
    
}





body {
  background-image: url("https://i.imgur.com/06qZ5t0.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-color: black;
}

div.Navbar {
    border-radius: 25px 25px 25px 25px;
    background-position: center;
    height: 100px;
    width: 1475px;
    float: right;
    opacity: 30%;
    background-color: black;
}
