@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

head {
    height: 300px;
    width: 500px;
}

div.profile {
    position: absolute;
    float: left;
}


div.info {
    border-radius: 25px 25px 25px 25px;
    height: 1000px;
    width: 400px;
    float: left;
    background-color: black; 
    opacity: 20%;
    z-index: 2;
    position: absolute;
    margin-left: 2%;
    top: 0;
    left: 0;
}

.about {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    color: whitesmoke;
    text-shadow: 0 0 20px #ff005b;
    z-index: 10;
    margin-left: 10%;
}



.Name {
    font-size: 40px;
    text-align: center;
    margin-left: 15%;

}

.me {
    font-size: 40px;
    text-align: center;
    margin-left: 15%;
}


.img-circle {
    position: relative; 
    background-position: center;
    border-radius: 50%;
    margin-top: 15%;
    margin-left: 15%;
    width: 300px;
    height: 300px;
    z-index: 5;
    border: 5px solid ghostwhite;
    
}

body {
  background-image: url("https://i.imgur.com/06qZ5t0.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-color: black;
}

div.Navbar {
    position: relative;
    border-radius: 25px 25px 25px 25px;
    background-position: center;
    height: 100px;
    width: 1425px;
    float: right;
    opacity: 30%;
    margin-right: 2%;
    background-color: black;
}

div.buttons {
    position: relative;
    font: 500;  
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    display: inline;
}
#logo1 {
    position: relative;
    background-image: url(Pictures/GitHub-Logos/GitHub_Logo_White.png);
    background-repeat: no-repeat;
    display: block;
    float: top;
    background-size: 60%;
    height: 100px;
    width: 300px; 
    z-index: 8;
}
.Cont {
    position: relative;
    border-radius: 25px 25px 25px 25px;
    float: right;
    height: 800px;
    width: 1424px;
    background-color: black;
    opacity: 100%;
    margin-left: 50%;
    z-index: -5;
}
.Files {
    position: relative;
    text-align: center;
    color: whitesmoke;
    padding-top: 10%;
    margin-left: 25%;
    font-size: 90px;
    font-family: 'Quicksand', sans-serif;
    text-shadow: 0 0 20px #ff005b;
}

.Proj {
    margin-bottom: 20%;
}







